/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin */

html,
body {
	height: 100%;
  overflow: hidden;
  position: relative;
}
#header {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  background: rgba(30,30,30,0.5); /*#363636;*/
  color: #fff;
  padding: 0.25em;
  width: 100%;
  height: 2em;
  z-index: 500;
}
#content {
  position: absolute;
  top: 2em;
  bottom: 0;
  width: 100%;
}
h1 {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
}
i{
  vertical-align: middle;
}


hr {
	background: #D0D7D9;
	height: 1px;
	margin: 20px 0 20px 0;
	border: none;
}
#map {
	bottom:0px;
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
}
.options-box {
	position: absolute;
	margin-top: 10px;
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	z-index: 1000;
}
.directions-box {
	position: absolute;
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	z-index: 1000;
	top: 100px;
	right: 10px;
	display: none;
}
.scroll-panel {
	max-height: 500px;
	overflow-y: scroll;
}
#pano {
	width: 200px;
	height: 200px;
}

.top-row-margin {
	margin-top: 0.5em;
}